<div ng-controller="userController">
    <p>
        <input type="button" ng-click="loadUser()" value="loadUser" />
        <input type="button" ng-click="addUser()" value="addUser" />
    </p>
    <p>Search any
        <input ng-model="search.$" />
    </p>
    <p>Search by name
        <input ng-model="search.name" />
    </p>
    <div ng-repeat="user in users | filter:search ">
        {{ message }}
        <a ng-href="/#/users/{{ user.id}}">{{ user.name + " " +user.lastName }} </a>
    </div>
</div>